.pudding{
    height: 100%;
    width: 100%;
    position: relative;
}


.pudding img{
    height: 175vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pudding1 {
    height: 360px;
    width: 270px;
    border: 5px #6D2932 solid;
    border-radius: 12px;
    box-shadow: 5px 5px 19px 0 rgba(0, 0, 0, 1);
    margin-left: 7rem;
    background-color: white;
}

.puddingMain1 {
    height: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.pudding1 img{
    margin: auto;
    display: block;
    height: 220px;
    width: 180px;
    margin-top: 2.4rem;
}

.pudding1 h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #6D2932;
    margin-top: 1.6rem;
}

.pudding1 button {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    background-color: #6D2932;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-top: 2.4rem;
}

.pudding1 button:hover {
    transition: all 0.2s ease-in;
    background-color: lightcoral;
}

.pudding1:hover .puddingMain1 {
    transform: scale(1.1)
}

.label18:after {
    content: '120Rs';
    transition: all 0.2s ease-in;
}

.label18:hover:after {
    transition: all 0.2s ease-in;
    content: 'Add To Cart';
}


.puddingDev{
    position: absolute;
    top: 12rem;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    grid-gap: 10rem 5rem;
    margin-left: 3rem;
}

